body {
  background-color: white;
}
h1 {
  color: red;
}
.float-container{
  border: 3px solid white;
  padding:20px;
}
.Team1{
  margin: 10px;
  width: 50%;
  float:left;
  padding: 20px;
  border:2px solid red;

}

.Team2{
  margin: 10px;
  width: 50%;
  float:left;
  padding: 20px;
  border: 2px solid blue;

}




.activeGameContainer {
  background-color: #7FDBFF;
  color: red;
  width: 100px;
  border: 15px solid grey;
  padding: 50px;
  margin: 20px;
  position:absolute;
  left: 70%;
  bottom: 55%;

}
a.activeGameContainer {
  color: #D19936;
}

