<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="main">

    <div>
    <h1>{{ tnames.0 }} score: <button id="t1total"></button>
    <button id="t1techincrement">+</button>
    <button id="t1techdecrement">-</button>
    <button id="t1techtotal">Tech pts: </button>
    </h1>
    <button id="t1player1">{{ t1players.0 }}</button>
    <button id="t1p1increment">+</button>
    <button id="t1p1decrement">-</button>
    <button id="t1p1Points">total pts: </button>
    </div>
    <div>
    <button id="t1player2">{{ t1players.1 }}</button>
    <button id="t1p2increment">+</button>
    <button id="t1p2decrement">-</button>
    <button id="t1p2Points">total pts: </button>
    </div>
    <div>
    <button id="t1player3">{{ t1players.2 }}</button>
    <button id="t1p3increment">+</button>
    <button id="t1p3decrement">-</button>
    <button id="t1p3Points">total pts: </button>
    </div>
    <div>
    <button id="t1player4">{{ t1players.3 }}</button>
    <button id="t1p4increment">+</button>
    <button id="t1p4decrement">-</button>
    <button id="t1p4Points">total pts: </button>
    </div>
    <div>
    <button id="t1player5">{{ t1players.4 }}</button>
    <button id="t1p5increment">+</button>
    <button id="t1p5decrement">-</button>
    <button id="t1p5Points">total pts: </button>
    </div>
  <div>
    <div>
    <h1>{{ tnames.1 }} score: <button id="t2total"></button>
    <button id="t2techincrement">+</button>
    <button id="t2techdecrement">-</button>
    <button id="t2techtotal">Tech pts: </button>
    </h1>
    <button id="t2player1">{{ t2players.0 }}</button>
    <button id="t2p1increment">+</button>
    <button id="t2p1decrement">-</button>
    <button id="t2p1Points">total pts: </button>
    </div>
    <div>
    <button id="t2player2">{{ t2players.1 }}</button>
    <button id="t2p2increment">+</button>
    <button id="t2p2decrement">-</button>
    <button id="t2p2Points">total pts: </button>
    </div>
    <div>
    <button id="t2player3">{{ t2players.2 }}</button>
    <button id="t2p3increment">+</button>
    <button id="t2p3decrement">-</button>
    <button id="t2p3Points">total pts: </button>
    </div>
    <div>
    <button id="t2player4">{{ t2players.3 }}</button>
    <button id="t2p4increment">+</button>
    <button id="t2p4decrement">-</button>
    <button id="t2p4Points">total pts: </button>
    </div>
    <div>
    <button id="t2player5">{{ t2players.4 }}</button>
    <button id="t2p5increment">+</button>
    <button id="t2p5decrement">-</button>
    <button id="t2p5Points">total pts: </button>
    </div>
    </div>
  <h5><button id="submitpage" value="Submit">Submit</button></h5>
  </div>
  <input type="hidden" id="t1name" value={{ tnames.0 }}>
  <input type="hidden" id="t2name" value={{ tnames.1 }}>
{% load static %}
    <script src="{% static 'js/counterpage.js' %}"></script>
</body>