<!DOCTYPE html>
<html lang="en">
<div class="topnav">
    <a class="active" href="{% url 'teamSelection' %}">Team Selection</a>
    <a class="active" href="{% url 'addPlayer' %}">Add Player</a>
    <a class="active" href="{% url 'stats' %}">Stats</a>

</div>

{% load static %}


<head>
    <link rel="stylesheet" href="/static/css/teamSelection.css">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>squad up</title>

    <h1  style="text-align:center;">Team Selection</h1>
</head>
<body>
<div class="float-container">
    <div class="Team1">
        <div class="green"></div>
    <form id="teamSelection" action="gamePage" method="POST" name="teamPlayerData">
    <div>
    <label for="tname1">Team 1 Name:</label><br>
    <input type="text" id="tname1" name="tname1" placeholder="Super good team name"><br>
    </div>
    <label for="t1player1">Choose a player</label>
    <select id="t1player1" name="t1player1"><option value="empty"></option></select>
    <label for="t1player2">Choose a player</label>
    <select id="t1player2" name="t1player2"><option value="empty"></option></select>
    <label for="t1player3">Choose a player</label>
    <select id="t1player3" name="t1player3"><option value="empty"></option></select>
    <label for="t1player4">Choose a player</label>
    <select id="t1player4" name="t1player4"><option value="empty"></option></select>
    <label for="t1player5">Choose a player</label>
    <select id="t1player5" name="t1player5"><option value="empty"></option></select>
    </div>
    <div class="Team2">
        <div class="blue"></div>
    <div>
    <label for="tname2">Team 2 Name:</label><br>
    <input type="text" id="tname2" name="tname2" placeholder="Super good team name"><br>
    </div>
    <label for="t2player1">Choose a player</label>
    <select id="t2player1" name="t2player1"><option value="empty"></option></select>
    <label for="t2player2">Choose a player</label>
    <select id="t2player2" name="t2player2"><option value="empty"></option></select>
    <label for="t2player3">Choose a player</label>
    <select id="t2player3" name="t2player3"><option value="empty"></option></select>
    <label for="t2player4">Choose a player</label>
    <select id="t2player4" name="t2player4"><option value="empty"></option></select>
    <label for="t2player5">Choose a player</label>
    <select id="t2player5" name="t2player5"><option value="empty"></option></select>
    </div>
</div>
<div>
  <input type="submit" value="Submit">
</div>

{% csrf_token %}
</form>

<script src="{% static 'js/teamSelection.js' %}"></script>















</body>
</html>